
html {
	font-size:62.5%;
  scroll-behavior: smooth;
  width: 100%;
  margin-right: 0;
}
body {
  width: 100%;
}
* {
	margin: 0;
	padding: 0;
}

.AlphaBrands{
  left: 50rem;
  top: 50rem;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 145.8rem;
}.alphahome-yUZ {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-8jqa-dxR {
    margin-bottom: 2.2rem;
    width: 100%;
    height: 517rem;
    position: relative;
    flex-shrink: 0;

    .group-U5s {
      object-fit: contain;
      vertical-align: top;
      width: 48.6rem;
      height: 27.4rem;
      position: absolute;
      left: 14rem;
      top: 489.6rem;
    }
    .rectangle-1-MvM {
      width: 144rem;
      height: 63.6rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #d9d9d9;
    }
    .frame-gSq {
      width: 174.8935rem;
      height: 73.2rem;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      background-color: #000000;

      .group-p3F {
        position: relative;
        width: 100%;
        height: 100%;

        .group-khb {
          width: 22.6721rem;
          height: 19.3344rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          opacity: 0.425;
        }
        .group-Gvq {
          vertical-align: top;
          opacity: 0.425;
          width: 23.8079rem;
          height: 24.8189rem;
          position: absolute;
          left: 0;
          top: 0.9538rem;
          object-fit: contain;
        }
        .group-CZb {
          top: 0.9694rem;
          object-fit: contain;
          vertical-align: top;
          opacity: 0.425;
          width: 14.1512rem;
          height: 13.2447rem;
          position: absolute;
          left: 0;
        }
        .group-LQu {
          width: 44.7201rem;
          height: 28.0415rem;
          position: absolute;
          left: 115.6267rem;
          top: 41.4069rem;
          object-fit: contain;
          vertical-align: top;
        }
        .group-s9w {
          left: 123.8279rem;
          top: 44.9935rem;
          object-fit: contain;
          vertical-align: top;
          width: 28.2807rem;
          height: 21.5021rem;
          position: absolute;
        }
        .group-oZP {
          position: absolute;
          left: 132.492rem;
          top: 49.696rem;
          object-fit: contain;
          vertical-align: top;
          width: 17.4607rem;
          height: 12.9348rem;
        }
        .navigation-bar-LZK {
          width: 127.5rem;
          height: 7rem;
          position: absolute;
          left: 7.4641rem;
          top: 5.6956rem;
          display: flex;
          align-items: center;

          .logofinal1-removebg-preview-1-eK7 {
            width: 14rem;
            height: 7rem;
            position: relative;
            background-size: 130.864% 265%;
            background-position: -1.8148rem -5.6rem;
            background-image: url('REPLACE_IMAGE:ed86e104f5ee28033eff817f6ae2c2935c186428');
            flex-shrink: 0;
          }
          .auto-group-yhue-6S1 {
            box-sizing: border-box;
            padding-left: 12.75rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .navbar-key {
              margin: 1.6rem 12.9rem 2.7rem 0rem;
              height: calc(100% - 4.3rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .home-U5B {
                text-align: center;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                margin-right: 4.11rem;
                font-weight: 700;
                line-height: 1.5;
                flex-shrink: 0;
                font-size: 1.8rem;
              }
              .offering-xW9 {
                text-align: center;
                font-size: 1.8rem;
                font-weight: 700;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 3.51rem;
                line-height: 1.5;
                color: #ffffff;
              }
              .brands-5am {
                font-size: 1.8rem;
                font-weight: 700;
                line-height: 1.5;
                color: #ffffff;
                flex-shrink: 0;
                margin-right: 2.66rem;
                text-align: center;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .technologies-CvH {
                margin-right: 2.86rem;
                text-align: center;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.8rem;
                font-weight: 700;
                color: #ffffff;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .our-products-XSm {
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 3.61rem;
                font-size: 1.8rem;
                white-space: nowrap;
                text-align: center;
                font-weight: 700;
              }
              .news-room-3R7 {
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.8rem;
                font-weight: 700;
              }
            }
            .get-in-touch-B1X {
              padding: 1.15rem 1.5rem;
              display: flex;
              align-items: center;
              background-color: #9747ff;
              border-radius: 1.1rem;
              margin-bottom: 2rem;
              box-sizing: border-box;
              border: solid 0.2rem #000000;
              flex-shrink: 0;

              .get-in-touch-Jrq {
                color: #ffffff;
                white-space: nowrap;
                margin-right: 1rem;
                font-weight: 500;
                line-height: 1.5;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.8rem;
                font-family: Poppins, 'Source Sans Pro';
              }
              .vector-3Jd {
                width: 1rem;
                height: 1rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
        .brands-side-jBT {
          justify-content: center;
          font-size: 3rem;
          height: 7.6rem;
          top: 65.6rem;
          align-items: center;
          white-space: nowrap;
          background-color: #ffffff;
          border-radius: 0 2.5rem 0 0;
          display: flex;
          font-weight: 700;
          color: #eea321;
          line-height: 1.1725;
          width: 24.01rem;
          position: absolute;
          left: 58.6rem;
          font-family: Roboto, 'Source Sans Pro';
          border: solid 0.2rem #000000;
          box-sizing: border-box;
        }
        .group-ksF {
          left: 51.0223rem;
          top: 11.8214rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 31.5888rem;
          height: 44.5967rem;
          position: absolute;

          .vector-HcH {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0rem 43.804rem 30.833rem;
            width: 0.7555rem;
            height: 0.3962rem;
            object-fit: contain;
          }
          .vector-now {
            width: 0.7555rem;
            height: 0.3962rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 30.8333rem;
          }
        }
        .group-XmX {
          position: absolute;
          left: 12.9433rem;
          top: 12.6821rem;
          width: 109.91rem;
          height: 49.2966rem;

          .group-roo {
            height: 41.531rem;
            position: absolute;
            left: 5.4592rem;
            top: 3.407rem;
            object-fit: contain;
            vertical-align: top;
            width: 98.9976rem;
          }
          .group-Poj {
            top: 3.9024rem;
            object-fit: contain;
            vertical-align: top;
            width: 96.0492rem;
            height: 43.0828rem;
            position: absolute;
            left: 6.9321rem;
          }
          .group-vHs {
            object-fit: contain;
            vertical-align: top;
            opacity: 0.425;
            width: 109.91rem;
            height: 49.2966rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .group-ejf {
            vertical-align: top;
            width: 87.2852rem;
            height: 39.1671rem;
            position: absolute;
            left: 11.3081rem;
            top: 5.8557rem;
            object-fit: contain;
          }
        }
      }
    }
    .hero-header-NvZ {
      position: absolute;
      left: 12.3rem;
      top: 72.4rem;
      display: flex;
      align-items: flex-start;
      width: 123.2rem;
      height: 87rem;
      cursor: pointer;

      .auto-group-hjpu-JJR {
        margin-right: 11.8444rem;
        width: 65.5556rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .alphabrands-empower-the-future-where-investments-thrive-brands-flourish-and-customers-discover-curated-excellence-your-all-in-one-platform-for-shaping-the-futureofcommerce-S9j {
          font-family: Poppins, 'Source Sans Pro';
          height: 87rem;
          position: absolute;
          left: 0;
          top: 0;
          line-height: 1.5;
          color: #eea321;
          width: 64.9rem;
          font-size: 3.5rem;
          font-weight: 700;

      
          .alphabrands-empower-the-future-where-investments-thrive-brands-flourish-and-customers-discover-curated-excellence-your-all-in-one-platform-for-shaping-the-futureofcommerce-S9j-sub-1 {
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1.5;
            color: #eea321;
            font-family: Poppins, 'Source Sans Pro';
          }
          .alphabrands-empower-the-future-where-investments-thrive-brands-flourish-and-customers-discover-curated-excellence-your-all-in-one-platform-for-shaping-the-futureofcommerce-S9j-sub-2 {
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 2.5rem;
            font-weight: 400;
          }
          .alphabrands-empower-the-future-where-investments-thrive-brands-flourish-and-customers-discover-curated-excellence-your-all-in-one-platform-for-shaping-the-futureofcommerce-S9j-sub-3 {
            font-family: Poppins, 'Source Sans Pro';
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1.5;
            color: #ffffff;
          }
          .alphabrands-empower-the-future-where-investments-thrive-brands-flourish-and-customers-discover-curated-excellence-your-all-in-one-platform-for-shaping-the-futureofcommerce-S9j-sub-4 {
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1.5;
            color: #eea321;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .vector-Jmb {
          vertical-align: top;
          width: 1.6336rem;
          height: 0.8568rem;
          position: absolute;
          left: 60.4634rem;
          top: 14.4342rem;
          object-fit: contain;
        }
      }
      .rectangle-4-Ev9 {
        background-position: -24.7547rem 0rem;
        background-image: url('REPLACE_IMAGE:92c32ccc049e9212ff24a9a6a5c755355558b28c');
        flex-shrink: 0;
        width: 45.8rem;
        height: 42.4rem;
        position: relative;
        background-size: 195.158% 110.417%;
      }
    }
    .rectangle-4-LTP {
      left: 8.6rem;
      top: 126.6rem;
      background-size: 171.507% 126.936%;
      background-position: -17.9728rem -4.2667rem;
      background-image: url('REPLACE_IMAGE:86c9b35b12305f09c91917251206fb1d376b9539');
      width: 45.8rem;
      height: 39.6rem;
      position: relative;
    }
    .your-journey-matters-and-were-here-to-enhance-it-with-every-click-explore-alphabrands-for-a-personalized-brands-shopping-eperinece-discover-a-diverse-range-of-quality-products-tailored-to-your-prerence-q9F {
      color: #eea321;
      width: 81.1rem;
      position: absolute;
      left: 54.4rem;
      top: 128.1rem;
      line-height: 1.5;
      height: 83.3rem;
      font-size: 3.5rem;
      font-weight: 700;
      font-family: Poppins, 'Source Sans Pro';
      
      .your-journey-matters-and-were-here-to-enhance-it-with-every-click-explore-alphabrands-for-a-personalized-brands-shopping-eperinece-discover-a-diverse-range-of-quality-products-tailored-to-your-prerence-q9F-sub-1 {
        color: #eea321;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.5;
      }
      .your-journey-matters-and-were-here-to-enhance-it-with-every-click-explore-alphabrands-for-a-personalized-brands-shopping-eperinece-discover-a-diverse-range-of-quality-products-tailored-to-your-prerence-q9F-sub-2 {
        font-family: Poppins, 'Source Sans Pro';
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.5;
        color: #eea321;
      }
      .your-journey-matters-and-were-here-to-enhance-it-with-every-click-explore-alphabrands-for-a-personalized-brands-shopping-eperinece-discover-a-diverse-range-of-quality-products-tailored-to-your-prerence-q9F-sub-3 {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.5;
      }
      .your-journey-matters-and-were-here-to-enhance-it-with-every-click-explore-alphabrands-for-a-personalized-brands-shopping-eperinece-discover-a-diverse-range-of-quality-products-tailored-to-your-prerence-q9F-sub-4 {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.5;
        color: #eea321;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .hero-header-QNh {
      display: flex;
      align-items: flex-start;
      width: 123.2rem;
      height: 81.9rem;
      cursor: pointer;
      position: absolute;
      left: 12.3rem;
      top: 170.1rem;

      .auto-group-sjpz-8Jh {
        margin: 3.9rem 8.1rem 0rem 0rem;
        width: 69.3rem;
        height: 78rem;
        flex-shrink: 0;

        .elevate-your-brand-where-your-brands-story-meets-a-thriving-ecosystem-forage-powerful-connections-and-amplify-your-reach-in-community-FeD {
          line-height: 1.5;
          color: #eea321;
          font-family: Poppins, 'Source Sans Pro';
          max-width: 69.3rem;
          font-size: 3.5rem;
          font-weight: 700;

          
          .elevate-your-brand-where-your-brands-story-meets-a-thriving-ecosystem-forage-powerful-connections-and-amplify-your-reach-in-community-FeD-sub-1 {
            line-height: 1.5;
            color: #eea321;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 2.5rem;
            font-weight: 600;
          }
          .elevate-your-brand-where-your-brands-story-meets-a-thriving-ecosystem-forage-powerful-connections-and-amplify-your-reach-in-community-FeD-sub-2 {
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
          .elevate-your-brand-where-your-brands-story-meets-a-thriving-ecosystem-forage-powerful-connections-and-amplify-your-reach-in-community-FeD-sub-3 {
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1.5;
            color: #eea321;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
      }
      .rectangle-4-wYy {
        background-position: -4.661rem 0;
        background-image: url('REPLACE_IMAGE:d1ef58c6061e589a33a95da16a7d18c312dafbaa');
        flex-shrink: 0;
        width: 45.8rem;
        height: 38.6rem;
        position: relative;
        background-size: 127.981% 109.659%;
      }
    }
    .pioneering-future-investments-invest-in-alphabrands-to-be-at-the-forefront-of-shaping-the-future-of-e-commerce-and-brand-partnerships-your-capital-fuels-innovation-and-growth-contributing-to-a-dynamic-and-promising-investment-landscape-FZf {
      width: 74.1rem;
      left: 57.9rem;
      top: 228.8rem;
      color: #eea321;
      font-family: Poppins, 'Source Sans Pro';
      height: 74.3rem;
      position: absolute;
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 1.5;

      
      .pioneering-future-investments-invest-in-alphabrands-to-be-at-the-forefront-of-shaping-the-future-of-e-commerce-and-brand-partnerships-your-capital-fuels-innovation-and-growth-contributing-to-a-dynamic-and-promising-investment-landscape-FZf-sub-1 {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1.5;
        color: #eea321;
        font-family: Poppins, 'Source Sans Pro';
      }
      .pioneering-future-investments-invest-in-alphabrands-to-be-at-the-forefront-of-shaping-the-future-of-e-commerce-and-brand-partnerships-your-capital-fuels-innovation-and-growth-contributing-to-a-dynamic-and-promising-investment-landscape-FZf-sub-2 {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.5;
      }
      .pioneering-future-investments-invest-in-alphabrands-to-be-at-the-forefront-of-shaping-the-future-of-e-commerce-and-brand-partnerships-your-capital-fuels-innovation-and-growth-contributing-to-a-dynamic-and-promising-investment-landscape-FZf-sub-3 {
        line-height: 1.5;
        color: #eea321;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 2.5rem;
        font-weight: 700;
      }
    }
    .rectangle-5-hiV {
      background-image: url('REPLACE_IMAGE:d421431044b6c224ace73fb704465dec061243bf');
      width: 45.6rem;
      height: 46.4rem;
      position: relative;
      left: 6.4rem;
      top: 180.6rem;
      background-size: 226.358% 113.684%;
      background-position: -30.8454rem -6.3495rem;
    }
    .brands-section-bYy {
      width: 152.768rem;
      height: 82.8rem;
      position: absolute;
      left: 0;
      top: 259.8rem;

      .rectangle-7-KUy {
        width: 146.4rem;
        height: 69.9rem;
        position: absolute;
        left: 0;
        top: 5.9rem;
        filter: blur(0.2rem);
        background-color: #000000;
      }
      .brands-side-FNd {
        left: 60.8rem;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        line-height: 1.1725;
        background-color: #ffffff;
        height: 7.6rem;
        font-family: Roboto, 'Source Sans Pro';
        border: solid 0.2rem #000000;
        box-sizing: border-box;
        border-radius: 0 2.5rem 0 0;
        font-weight: 700;
        position: absolute;
        top: 0;
        display: flex;
        color: #eea321;
        white-space: nowrap;
        width: 24.01rem;
      }
      .rectangle-1-Hq7 {
        width: 12.5137rem;
        position: relative;
        top: 20rem;
        background-position: -1.9671rem -1.7499rem;
        border-radius: 1.3rem;
        height: 9.9rem;
        left: 19.7rem;
        background-size: 134.493% 163.384%;
        background-image: url('REPLACE_IMAGE:74ff66fd483604462ee9a9c57bcf6d6a0ec6fac1');
      }
      .mrkisan-1-Nbf {
        top: 20rem;
        background-size: 326.682% 114.765%;
        background-position: -0.6138rem -1.0424rem;
        background-image: url('REPLACE_IMAGE:d321c7af011380174c62acaa2e81724b9af88b7d');
        width: 13.6rem;
        height: 10.6rem;
        position: relative;
        left: 66rem;
      }
      .ad-1-3Su {
        width: 12.412rem;
        position: relative;
        background-position: -2.6452rem -3.9263rem;
        background-image: url('REPLACE_IMAGE:810a1cc8bc1ee215da95ed043f215930544ec550');
        border-radius: 1.3rem;
        height: 9.3824rem;
        left: 111rem;
        top: 0.3rem;
        background-size: 141.803% 188.043%;
      }
      .dr-alpha-iZ3 {
        flex-direction: column;
        background: conic-gradient(from 30.29deg at 86.43% 30.57%, #3c2909 0deg, #000000 26.94deg, #3f4541 197.68deg, #b77f1c 284.05deg, #3c2909 360deg);
        box-sizing: border-box;
        width: 28rem;
        cursor: pointer;
        position: absolute;
        left: 12rem;
        top: 35.3rem;
        align-items: center;
        display: flex;
        padding: 2rem 2rem 3.2rem 2rem;
        height: 19.3rem;
        border-radius: 1rem;

        .brand-open-BxR {
          font-family: Roboto, 'Source Sans Pro';
          font-size: 2rem;
          line-height: 1;
          font-weight: 500;
          color: #ffffff;
          margin-bottom: 1.9rem;
          justify-content: center;
          white-space: nowrap;
          flex-shrink: 0;
          height: 4.3rem;
          cursor: pointer;
          align-items: center;
          width: 100%;
          display: flex;
        }
        .line-1-URj {
          margin-bottom: 1.8rem;
          width: 100%;
          height: 0.1rem;
          background: linear-gradient(180deg, #9747ff 43.5%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.6600000262) 100%);
          flex-shrink: 0;
        }
        .experience-top-tier-hand-protection-with-dr-alphas-premium-powder-free-medical-examination-gloves-available-in-nitrile-and-latex-trust-in-dr-alphas-dedication-to-qualityandsafety-Lyj {
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 24rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
        }
      }
      .buddy-products-3mf {
        width: 28rem;
        height: 19.3rem;
        cursor: pointer;
        left: 103.2rem;
        flex-direction: column;
        background: conic-gradient(from 30.29deg at 86.43% 30.57%, #060707 0deg, #313c40 96.7deg, #b77f1c 205.71deg, #000000 364.39deg, #060707 360deg);
        border-radius: 1rem;
        box-sizing: border-box;
        padding: 2rem 2rem 4.7rem 2rem;
        position: absolute;
        top: 35.3rem;
        align-items: center;
        display: flex;

        .brand-open-Xwj {
          margin-bottom: 1.9rem;
          flex-shrink: 0;
          display: flex;
          font-size: 2rem;
          color: #ffffff;
          white-space: nowrap;
          width: 100%;
          height: 4.3rem;
          line-height: 1;
          font-family: Roboto, 'Source Sans Pro';
          cursor: pointer;
          align-items: center;
          justify-content: center;
          font-weight: 500;
        }
        .line-1-2db {
          background: linear-gradient(180deg, #000000 43.5%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.6600000262) 100%);
          flex-shrink: 0;
          margin-bottom: 1.8rem;
          width: 100%;
          height: 0.1rem;
        }
        .experience-unparalleled-comfort-and-protection-with-buddys-premium-adult-diapers-designed-to-enhance-lives-with-dignityandcare-jnu {
          margin-right: 0.9rem;
          max-width: 23.1rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .vector-95w {
        left: 100.7634rem;
        top: 17.0342rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.6336rem;
        height: 0.8568rem;
        position: absolute;
      }
      .vector-UP7 {
        left: 57.5634rem;
        top: 27.4342rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.6336rem;
        height: 0.8568rem;
        position: absolute;
      }
      .vector-189 {
        height: 0.8568rem;
        position: absolute;
        left: 11.7634rem;
        top: 12.0342rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.6336rem;
      }
      .group-9VF {
        top: 63rem;
        object-fit: contain;
        vertical-align: top;
        width: 5.2444rem;
        height: 4.1939rem;
        position: absolute;
        left: 5rem;
      }
      .vector-UnR {
        width: 3.5911rem;
        height: 2.0712rem;
        position: absolute;
        left: 44.8218rem;
        top: 18.7915rem;
        object-fit: contain;
        vertical-align: top;
      }
      .group-DED {
        position: absolute;
        left: 122.4rem;
        top: 58.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 29.968rem;
        height: 23.9rem;
      }
      .mr-kisan-MLR {
        height: 19.3rem;
        cursor: pointer;
        align-items: center;
        display: flex;
        flex-direction: column;
        background: conic-gradient(from 30.29deg at 86.43% 30.57%, #cf9b28 0deg, #ebbb37 96.7deg, #5c5a44 141.43deg, #b77f1c 274deg, #cf9b28 360deg);
        box-sizing: border-box;
        padding: 2rem 2rem 3.2rem 2rem;
        left: 57.9rem;
        top: 35.3rem;
        border-radius: 1rem;
        width: 28rem;
        position: absolute;

        .brand-open-rY5 {
          height: 4.3rem;
          cursor: pointer;
          display: flex;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2rem;
          line-height: 1;
          color: #ffffff;
          flex-shrink: 0;
          width: 100%;
          align-items: center;
          font-weight: 500;
          margin-bottom: 1.9rem;
          justify-content: center;
        }
        .line-1-ZBb {
          width: 100%;
          height: 0.1rem;
          background: linear-gradient(180deg, #000000 43.5%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0.6600000262) 100%);
          flex-shrink: 0;
          margin-bottom: 1.8rem;
        }
        .enter-the-future-of-farming-with-mr-kisan-providing-cutting-edge-agricultural-machinery-empowering-farmers-with-innovative-solutions-for-enhancedproductivity-U3f {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 0.4rem;
          max-width: 23.6rem;
        }
      }
    }
    .group-TgH {
      top: 372.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 29.968rem;
      height: 23.9rem;
      position: absolute;
      left: 0;
    }
    .group-oVF {
      width: 57.644rem;
      height: 50.103rem;
      position: absolute;
      left: 0;
      top: 247.8rem;
      object-fit: contain;
      vertical-align: top;
      opacity: 0.7;
    }
    .technologies-XAM {
      display: flex;
      flex-direction: column;
      width: 144.6004rem;
      height: 66.6rem;
      position: absolute;
      left: 0.6rem;
      top: 328rem;
      align-items: center;

      .brands-side-F6M {
        margin: 0rem 60.242rem 0rem 60.742rem;
        font-size: 3rem;
        box-sizing: border-box;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        height: 7.6rem;
        display: flex;
        line-height: 1.1725;
        color: #eea321;
        align-items: center;
        font-weight: 700;
        border: solid 0.2rem #000000;
        flex-shrink: 0;
        width: calc(100% - 120.984rem);
        justify-content: center;
        background-color: #ffffff;
        border-radius: 0 2.5rem 0 0;
      }
      .frame-22-5bB {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 100%;
        height: 59rem;
        position: relative;
        border: solid 0.1rem #000000;

        .rectangle-12-pYm {
          height: 39.8rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.5rem #eea321;
          box-sizing: border-box;
          background-color: #292929;
          width: 144.6004rem;
        }
        .we-leverage-technology-to-make-better-decisions-grow-brands-and-enhance-the-customer-experience-x9B {
          width: 106.6rem;
          height: 52.9rem;
          font-family: Roboto, 'Source Sans Pro';
          position: absolute;
          left: 22.3rem;
          top: 6.1rem;
          text-align: center;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.171875;
          color: #ffffff;

          .we-leverage-technology-to-make-better-decisions-grow-brands-and-enhance-the-customer-experience-x9B-sub-0 {
            letter-spacing: 0.6rem;
            color: #d39318;
            font-family: Lateef, 'Source Sans Pro';
            font-size: 6rem;
            font-weight: 400;
            line-height: 1.2575;
          }
          .we-leverage-technology-to-make-better-decisions-grow-brands-and-enhance-the-customer-experience-x9B-sub-1 {
            font-size: 6rem;
            font-weight: 400;
            line-height: 1.2575;
            letter-spacing: 0.6rem;
            color: #ffffff;
            font-family: League Gothic, 'Source Sans Pro';
          }
          .we-leverage-technology-to-make-better-decisions-grow-brands-and-enhance-the-customer-experience-x9B-sub-2 {
            line-height: 1.2575;
            letter-spacing: 0.6rem;
            color: #d39318;
            font-family: Lateef, 'Source Sans Pro';
            font-size: 6rem;
            font-weight: 400;
          }
          .we-leverage-technology-to-make-better-decisions-grow-brands-and-enhance-the-customer-experience-x9B-sub-3 {
            font-size: 6rem;
            font-weight: 400;
            line-height: 1.2575;
            letter-spacing: 0.6rem;
            color: #ffffff;
            font-family: League Gothic, 'Source Sans Pro';
          }
          .we-leverage-technology-to-make-better-decisions-grow-brands-and-enhance-the-customer-experience-x9B-sub-4 {
            font-family: Lateef, 'Source Sans Pro';
            font-size: 6rem;
            font-weight: 400;
            line-height: 1.2575;
            letter-spacing: 0.6rem;
            color: #d39318;
          }
        }
        .vector-wBT {
          vertical-align: top;
          width: 8.8771rem;
          height: 3.2342rem;
          position: absolute;
          left: 27.8rem;
          top: 43.3rem;
          object-fit: contain;
        }
        .brands-side-g93 {
          left: 60.5rem;
          top: 45.3rem;
          justify-content: center;
          font-size: 3rem;
          border: solid 0.2rem #000000;
          width: 23.6rem;
          height: 7.6rem;
          align-items: center;
          position: absolute;
          font-weight: 700;
          line-height: 1.1725;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          box-sizing: border-box;
          display: flex;
          color: #eea321;
          background-color: #ffffff;
          border-radius: 0 2.5rem 0 0;
        }
      }
    }
    .brands-side-i5j {
      top: 455rem;
      line-height: 1.1725;
      color: #eea321;
      width: 23.6rem;
      left: 61.1rem;
      display: flex;
      font-size: 3rem;
      box-sizing: border-box;
      position: absolute;
      white-space: nowrap;
      background-color: #ffffff;
      border-radius: 0 2.5rem 0 0;
      height: 7.6rem;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-family: Roboto, 'Source Sans Pro';
      border: solid 0.2rem #000000;
    }
    .stay-tuned-NAH {
      align-items: center;
      font-size: 6rem;
      color: #eea321;
      left: 75.35rem;
      white-space: nowrap;
      justify-content: center;
      top: 497.95rem;
      display: flex;
      font-weight: 700;
      line-height: 1.1725;
      width: 37.5rem;
      position: absolute;
      font-family: Roboto, 'Source Sans Pro';
      height: 7.1rem;
    }
    .untitled-design-59-1-qZf {
      background-position: -16.3rem -10.6rem;
      background-image: url('REPLACE_IMAGE:c351de7e57fbe5f87c1e210964e0c3db88775a75');
      width: 38.1rem;
      height: 44.6rem;
      position: relative;
      left: 20.7rem;
      top: 380.6rem;
      background-size: 191.076% 163.229%;
    }
    .untitled-design-61-1-itM {

      background-size: 190.84% 173.31%;
      background-position: -17.0303rem -9.7669rem;
      background-image: url('REPLACE_IMAGE:c4c0ff381dcc236d184b936f611d2a785bbe8d18');
      width: 38.3rem;
      height: 39rem;
      position: relative;
      left: 53.7rem;
      top: 270.2rem;
    }
    .untitled-design-63-1-cD3 {
      background-image: url('REPLACE_IMAGE:313c5baf0e908663f79ba89b04fe236d94c763ce');
      width: 39.6rem;
      height: 56.2rem;
      position: relative;
      left: 95.4rem;
      top: 215rem;
      background-size: 169.036% 111%;
      background-position: -11.7594rem -0rem;
    }
    .untitled-design-62-1-iG5 {
      background-size: 132.591% 108.182%;
      background-position: -4.05rem 0;
      background-image: url('REPLACE_IMAGE:be1bff201281ec84f394485293a64b4a777cc3ab');
      width: 35.9rem;
      height: 44rem;
      position: relative;
      left: 12rem;
      top: 170.2rem;
    }
    .frame-1-DTj {
      cursor: pointer;
      height: 5.6rem;
      top: 441.4rem;
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.5;
      white-space: nowrap;
      align-items: center;
      width: 17.6rem;
      border: solid 0.5rem #ffd24d;
      left: 19.7rem;
      text-align: center;
      font-family: Poppins, 'Source Sans Pro';
      box-sizing: border-box;
      border-radius: 1.9rem;
      position: absolute;
      display: flex;
      justify-content: center;
      background-color: #9747ff;
      color: #ffffff;
    }
    .frame-2-fad {
      line-height: 1.5;
      display: flex;
      width: 17.6rem;
      white-space: nowrap;
      justify-content: center;
      box-sizing: border-box;
      background-color: #9747ff;
      border-radius: 1.9rem;
      left: 64.9rem;
      cursor: pointer;
      top: 441.4rem;
      font-size: 2.5rem;
      font-weight: 700;
      font-family: Poppins, 'Source Sans Pro';
      align-items: center;
      height: 5.6rem;
      text-align: center;
      color: #ffffff;
      border: solid 0.5rem #ffd24d;
      position: absolute;
    }
    .frame-3-wY9 {
      left: 109.9rem;
      text-align: center;
      font-weight: 700;
      font-family: Poppins, 'Source Sans Pro';
      display: flex;
      border: solid 0.5rem #ffd24d;
      height: 5.6rem;
      cursor: pointer;
      top: 441.4rem;
      font-size: 2.5rem;
      color: #ffffff;
      align-items: center;
      border-radius: 1.9rem;
      width: 17.6rem;
      line-height: 1.5;
      white-space: nowrap;
      background-color: #9747ff;
      position: absolute;
      justify-content: center;
      box-sizing: border-box;
    }
    .group-DEm {
      width: 59.3607rem;
      height: 17.7rem;
      position: absolute;
      left: 35.9rem;
      top: 110.4rem;
      object-fit: contain;
      vertical-align: top;
    }
    .group-kEh {
      width: 59.3607rem;
      height: 17.7rem;
      position: absolute;
      left: 31.1rem;
      top: 169.2rem;
      object-fit: contain;
      vertical-align: top;
    }
    .group-tLu {
      width: 59.3607rem;
      height: 17.7rem;
      position: absolute;
      left: 46.5rem;
      top: 209.7rem;
      object-fit: contain;
      vertical-align: top;
    }
    .group-q1F {
      width: 5.2444rem;
      height: 4.1939rem;
      position: absolute;
      left: 131.1991rem;
      top: 256.2097rem;
      object-fit: contain;
      vertical-align: top;
    }
    .group-ZT3 {
      top: 205.6097rem;
      object-fit: contain;
      vertical-align: top;
      width: 5.2444rem;
      height: 4.1939rem;
      position: absolute;
      left: 7.5991rem;
    }
    .group-Htq {
      top: 108.3rem;
      object-fit: contain;
      vertical-align: top;
      width: 5.2444rem;
      height: 4.1939rem;
      position: absolute;
      left: 8.3rem;
    }
    .vector-EZB {
      vertical-align: top;
      width: 1.6336rem;
      height: 0.8568rem;
      position: absolute;
      left: 115.1634rem;
      top: 131.6342rem;
      object-fit: contain;
    }
    .vector-mZ7 {
      object-fit: contain;
      vertical-align: top;
      width: 1.6336rem;
      height: 0.8568rem;
      position: absolute;
      left: 69.3634rem;
      top: 160.2342rem;
    }
    .vector-iDT {
      object-fit: contain;
      vertical-align: top;
      width: 1.6336rem;
      height: 0.8568rem;
      position: absolute;
      left: 6.9634rem;
      top: 173.4342rem;
    }
    .vector-TB3 {
      vertical-align: top;
      width: 3.5911rem;
      height: 2.0712rem;
      position: absolute;
      left: 8.0218rem;
      top: 506.5915rem;
      object-fit: contain;
    }
    .group-bHF {
      top: 432.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 63.8797rem;
      height: 58.7972rem;
      position: absolute;
      left: 114.1rem;
    }
    .vector-j8Z {
      width: 8.8771rem;
      height: 3.2342rem;
      position: absolute;
      left: 131.2rem;
      top: 460.7rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .footer-section-rys {
    margin-left: 0.6rem;
    box-sizing: border-box;
    padding: 4.6rem 6.751rem 6rem 8.363rem;
    flex-direction: column;
    background-color: #292929;
    width: 145.2rem;
    align-items: center;
    display: flex;
    flex-shrink: 0;

    .auto-group-f8ig-AzZ {
      margin-bottom: 11.4162rem;
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .get-in-touch-become-a-member-send-feedback-K6m {
        margin: 1.8rem 12.915rem 0rem 0rem;
        max-width: 15.5rem;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;

        
        .get-in-touch-become-a-member-send-feedback-K6m-sub-1 {
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .get-help-inquries-support-Sah {
        margin: 1.8rem 11.574rem 0rem 0rem;
        max-width: 11.4rem;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;

       
        .get-help-inquries-support-Sah-sub-1 {
          font-family: Poppins, 'Source Sans Pro';
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.5;
          color: #ffffff;
        }
      }
      .brands-dr-alpha-mr-kisan-buddy-products-SUD {
        max-width: 11.8rem;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 1.8rem 43.318rem 0rem 0rem;

      
        .brands-dr-alpha-mr-kisan-buddy-products-SUD-sub-1 {
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .auto-group-vtek-E9B {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;

        .social-media-links-yMf {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 3.2rem;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
        .social-media-Vqo {
          margin-left: 0.8061rem;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .icon-rounded-linkedin-dSD {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.8687rem;
            width: 3rem;
            height: 3rem;
          }
          .icon-rounded-youtube-9fT {
            width: 3.2143rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.8687rem;
          }
          .icon-circle-twitterbird-5JD {
            margin-right: 1.8687rem;
            width: 3.0833rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .icon-circle-facebook-1Sm {
            margin-right: 1.8687rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .icon-circle-email-9Yy {
            vertical-align: top;
            flex-shrink: 0;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
          }
        }
      }
    }
    .auto-group-ogt6-szm {
      margin: 0rem 0.44rem 0rem 1.037rem;
      width: calc(100% - 1.4763rem);
      height: 9.2838rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .email-zJh {
        margin: 0rem 15.172rem 0.008rem 0rem;
        width: 55.8376rem;
        height: calc(100% - 0.0076rem);
        border-radius: 1.5rem;
        flex-shrink: 0;

        .get-in-touch-to-your-inbox-JaH {
          display: flex;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.7777777778;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 1.244rem 1.096rem;
        }
        .auto-group-ejru-QdK {
          align-items: center;
          width: 100%;
          height: 4.8323rem;
          display: flex;

          .text-frame-9qo {
            white-space: nowrap;
            overflow: hidden;
            position: relative;
            font-size: 1.8rem;
            font-weight: 400;
            flex-shrink: 0;
            margin-right: 0.0101rem;
            width: 38.4275rem;
            height: 100%;
            box-sizing: border-box;
            line-height: 1.7777777778;
            background-color: #333333;
            border-radius: 1.5rem;
            padding: 0.8rem 3rem 0.832rem 3rem;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
          .secondary-cta-1-Dqf {
            margin-bottom: 0.0602rem;
            width: 17.4rem;
            height: 4.7381rem;
            position: relative;
            background-color: #bfaff2;
            border-radius: 1.5rem;
            flex-shrink: 0;

            .hover-ZPj {
              width: 17.4rem;
              height: 4.7rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #9747ff;
              border-radius: 1.5rem;
            }
            .cta-6uT {
              font-family: Poppins, 'Source Sans Pro';
              left: 6.3rem;
              color: #333333;
              position: absolute;
              top: 0.8rem;
              text-align: center;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.7777777778;
              width: 4.6rem;
              height: 3.2rem;
              white-space: nowrap;
            }
          }
        }
      }
      .frame-Nry {
        height: 2.4rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .wallet-2022-vtV {
          align-items: center;
          flex-shrink: 0;
          margin-right: 3.7rem;
          height: 100%;
          display: flex;

          .item--gMs {
            font-weight: 700;
            text-transform: uppercase;
            color: #ffffff;
            white-space: nowrap;
            margin-right: 1rem;
            line-height: 1.3333333333;
            font-family: Lato, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 1.8rem;
          }
          .wallet-2022-bzd {
            font-family: Lato, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.3333333333;
            color: #ffffff;
          }
        }
        .privacy-policy-wHo {
          margin-right: 3.8rem;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.3333333333;
          color: #ffffff;
          white-space: nowrap;
          display: flex;
          font-family: Lato, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .cookies-policy-Tmw {
          line-height: 1.3333333333;
          color: #ffffff;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4rem;
          font-size: 1.8rem;
          font-weight: 700;
        }
        .terms-of-use-12m {
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.3333333333;
          color: #ffffff;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
  }
}
